.App {
	text-align: center;
}

.backGround{
	position: absolute;
	background: linear-gradient(violet, mediumpurple,	lightblue,	lightgreen,	wheat, lightsalmon, lightcoral);
	width: 100vw;
	height: 100vh;
}

.bus{
	position: absolute;
	left: 10px;
}

.busBody{
	background-color: mediumorchid;
}

.wheelExterior{
	background-color: white;
}

.wheelInterior{
	background-color: grey;
}

.door{
	background-color: seashell;
}

.doorGlass{
	background-color:lightblue;
}

.redLights{
	position: absolute;
	background-color: red;
}

.rearIndicator{
	position: absolute;
	background-color: orangered;
}

.frontGlass {
	position: absolute;
	background-color: lightblue;
}

.luggageSection{
	position: absolute;
	background-color: lightblue;
}

.luggageSecHandle{
	position: absolute;
	background-color: black;
}

.window{
  background-color: lightblue;
}



