.backGround {
	position: absolute;
	background: linear-gradient(violet, mediumpurple, lightblue, lightgreen, wheat, lightsalmon, lightcoral);
	width: 100vw;
	height: 100vh;
}

.bus {
	position: absolute;
	left: 10px;
}

.busBody {
	position: absolute;
	background-color: mediumorchid;
	animation: moveBus 20s infinite linear;
	transform: scaleX(-1);
}

.wheelExterior {
	position: absolute;
	background-color: white;
	animation: rotate 2s infinite linear;
}

.wheelInterior {
	position: absolute;
	background-color: grey;
}

@keyframes rotate {
	from {
		transform: rotate(360deg)
	}

	to {
		transform: rotate(0deg)
	}
}

@keyframes moveBus {
	from {
		transform: translate(0px, 0px)scaleX(-1)
	}

	to {
		transform: translate(400px, 0px)scaleX(-1)
	}
}

@keyframes moveBusRtl {
	from {
		transform: translate(400px, 0px)
	}

	to {
		transform: translate(0px, 0px)
	}
}

.door {
	position: absolute;
	background-color: seashell;
}

.doorGlass {
	position: absolute;
	background-color: lightblue;
}

.redLights {
	position: absolute;
	background-color: red;
}

.rearIndicator {
	position: absolute;
	background-color: orangered;
}

.frontGlass {
	position: absolute;
	background-color: lightblue;
}

.luggageSection {
	position: absolute;
	background-color: lightblue;
}

.luggageSecHandle {
	position: absolute;
	background-color: black;
}

.window {
	position: absolute;
	background-image: url(./images/childone.jpg);
	background-size: cover;
}
