.App {
	text-align: center;
}

.busBody{
	position: absolute;
	top: 150px;
	left: 100px;
	height: 350px;
	width: 1200px;
	border-radius: 20px;
	background-color: mediumpurple;
	clip-path: polygon(6.5% 0, 100% 0%, 100% 100%, 0 100%);
	border: 2px solid black;
}

.road{
	position: absolute;
	top: 420px;
	left: 2px;
	height: 400px;
	width: 1400px;
	background-color: rgb(36, 32, 32);
}

.roadMidLine{
	position: absolute;
	top: 620px;
	left: 2px;
	height: 0px;
	width: 1400px;
	border: 4px dashed yellow;
}

.roadSideLines{
	position: absolute;
	top: 450px;
	left: 2px;
	height: 0px;
	width: 1400px;
	border: 3px solid yellow;
}

.wheelExterior{
	height: 80px;
	top: 440px;
	width: 80px;
	border-radius: 100px;
	background-color: white;
	border: 35px solid black;
}

.wheelInterior{
	height: 70px;
	top: 440px;
	width: 37px;
	border-radius: 35px;
	background-color: grey;
	border: 5px solid black;
}

.door{
	// position: absolute;
	// left: 380px;
	 height: 180px;
	top: 310px;
	width: 115px;
	background-color: seashell;
	border: 5px solid black;
}

.backDoor{
	position: absolute;
	top: 300px;
	left: 1110px;
	height: 185px;
	width: 115px;
	background-color: seashell;
	border: 5px solid black;
}

.doorGlass{
	// position: absolute;
	// left: 388px;
	top: 318px;
	height: 172px;
	width: 50px;
	background-color:lightblue;
	border: 1px outset black;
}

.frontDoorGlass2{
	position: absolute;
	top: 309px;
	left: 445px;
	height: 175px;
	width: 50px;
	background-color:lightblue;
	border: 1px solid black;
}

.backDoorGlass1{
	position: absolute;
	top: 309px;
	left: 1118px;
	height: 175px;
	width: 50px;
	background-color:lightblue;
	border: 1px solid black;
}

.backDoorGlass2{
	position: absolute;
	top: 309px;
	left: 1175px;
	height: 175px;
	width: 50px;
	background-color:lightblue;
	border: 1px solid black;
}

.redLights{
	position: absolute;
	top: 390px;
	left: 1300px;
	height: 35px;
	width: 10px;
	background-color: red;
	border: 1px solid black;
	border-radius: 2px;
}

.rearIndicator{
	position: absolute;
	top: 427px;
	left: 1300px;
	height: 35px;
	width: 10px;
	background-color: orangered;
	border: 1px solid black;
}

.frontGlass{
	position: absolute;
	top: 152px;
	left: 130px;
	height: 200px;
	width: 60px;
	background-color: lightblue;
	border-radius: 5px;
	border: 1px solid black;
	clip-path: polygon(75% 0, 100% 0, 100% 100%, 0% 100%);
}

.luggageSection{
	position: absolute;
	top: 380px;
	left: 690px;
	height: 100px;
	width: 200px;
	background-color: lightblue;
	border: 3px outset black;
}

.window{
  top: 170px;
  height: 100px;
  width: 170px;
  background-color: lightblue;
  border-radius: 5px;
  border: 2px solid black;
}

.windowBorder{
	position: absolute;
  top: 168px;
  left: 237px;
  height: 108px;
  width: 1050px;
  background-color: rgb(7, 5, 3);
	border-radius: 5px;
}

.luggageSecHandle{
	position: absolute;
  top: 459px;
  left: 770px;
  height: 10px;
  width: 50px;
	background-color: black;
}
